header,footer {
    padding:1em;
    color: white;
    background-color: rgb(126, 23, 138);
    text-align:center;
}

body {
    display:flex;
    margin-left:auto;
    margin-right:auto;
    width: 90%;
    font-family:Arial, Helvetica, sans-serif;
    border: 1px solid rgb(247, 99, 217);
    flex-direction: column;
    height:fit-content;

}

nav {
    background-color: rgb(253, 177, 219);
    padding: 1em;
    float:left;
}

.wrapper {
    display:flex;
}

.wrapper > div {
    flex: 1;
    text-align:center;
}

.container {
    width: 100%;
}

article {
    float:left;
    width:65%;
    padding:1em;
    color:rgb(150, 27, 120);
    height:230px;
}

aside {
    float:right;
    width:25%;
    padding: 1em;
    border-left: 1px solid rgb(250, 142, 207);
    color:rgb(111, 19, 83);
    height:542px;
}

section {
    float:left;
    width:65%;
    color:rgb(150, 16, 121);
    height:230px;
    padding:1em;
}

a:link {
    color:#000066;
    }
    a:visited {
        color:#003366;
    }
    a:focus{
        color: #ff0000;
    }
    a:hover {
        color:#fe83b0;
    }
    a:active {
        color:#ff0000;
    }



.bordered {
    border: 1px solid black;
    height: 200px;
    width: 300px;
    background: rgb(239, 52, 127);
    border-radius: 20px;

}

#reunat {
    border: 3px solid rgb(78, 8, 86);
    padding: 10px;
    margin: 50px;

}

.preuna {
    padding-top:50px;
}

.kuva {
    border: 3px solid rgb(40, 5, 33);
    border-style:none;
}



